@model COMP003B.Assignment6.Models.Player

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JerseyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JerseyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>

<div class="col-md-4">
<h4>Teams</h4>
    <ul>
        @foreach (Team team in ViewBag.Teams)
        {
            <li>@team.TeamName</li>
        }
    </ul>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
